---
import Layout from "@layouts/Layout.astro";
import SectionHeader from "@components/SectionHeader.astro";
import type { Album } from "src/album/domain/album";
import { formatDate } from "src/utils/formatDate";
import {
  getAlbumStaticPaths,
  type GetStaticPathsResult,
} from "src/album/useCase/getAlbumStaticPaths";
import { getScoreImageFilename } from "src/utils/getScoreImage";

export async function getStaticPaths() {
  const response: GetStaticPathsResult = await getAlbumStaticPaths();
  return response.paths;
}

const album: Album = Astro.props as Album;

if (!album) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const scoreIcon = (
  await import(
    `../../../assets/images/score/${getScoreImageFilename(album.score)}.gif`
  )
).default;
---

<Layout title={`${album.artist} — ${album.title}`}>
  <div class="container">
    <section>
      <SectionHeader title="Discos" as="p" href="/discos" />
      <h1 class="text-3xl uppercase font-bold mt-4">{album.title}</h1>
      <h2 class="text-xl uppercase font-bold">
        {album.artist} ({album.year})
      </h2>
      <div class="flex items-center mt-1">
        <p class="text-sm font-bold">{album.score}</p>
        {
          !!scoreIcon && (
            <img
              class="h-4 ml-3"
              src={scoreIcon.src}
              alt={`Puntuación: ${album.score} de 10`}
            />
          )
        }
      </div>
      <div class="mt-4">
        <img
          class="w-full md:size-16 lg:size-56 mr-3 mb-3 md:float-left"
          src={album.featuredMedia.sizes.thumbnail?.url || ""}
          alt={album.featuredMedia.altText}
        />
        <p class="font-tight text-xs text-brand-secondary mb-3">
          {album.author}
          {formatDate(album.date)}
        </p>
        <div class="post-content" set:html={album.content} />
      </div>
    </section>
  </div>
</Layout>

<style>
  .post-content {
    margin-block-end: 20px;

    span {
      display: inline;
    }

    p {
      margin-block-end: 20px;
    }

    figure,
    iframe {
      margin: auto;
      max-width: 100%;
    }
  }
</style>
