---
import Layout from "@layouts/Layout.astro";
import SectionHeader from "@components/SectionHeader.astro";
import { getAlbums } from "src/album/useCase/getAlbums";
import type { Album } from "src/album/domain/album";
import { formatDate } from "src/utils/formatDate";

const albumList: Album[] = await getAlbums();
---

<Layout title="Discos">
  <div class="container">
    <section>
      <SectionHeader title="Discos" />
      <ul class="grid grid-cols-1 md:grid-cols-2">
        {
          albumList.map((album: Album) => (
            <li class="border-b border-brand-divider">
              <a href={`/discos/${album.slug}`} class="flex items-center gap-3 py-4">
                <img
                  class="size-16 lg:size-24 shrink-0 object-cover"
                  src={album.featuredMedia.sizes.thumbnail?.url || ""}
                  alt={album.featuredMedia.altText}
                />
                <div>
                  <p class="font-tight text-sm font-semibold">
                    {album.artist} — {album.title}
                  </p>
                  <p class="font-tight text-xs text-brand-secondary mt-1">
                    {album.author} {formatDate(album.date)}
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
