---
import concertsIcon from "@assets/images/tabs/concert.png";
import albumsIcon from "@assets/images/tabs/disc.png";
import newsIcon from "@assets/images/tabs/news.png";
import tvIcon from "@assets/images/tabs/video.png";
import interviewsIcon from "@assets/images/tabs/mic.png";
---

<footer class="container text-center border-t-4 border-black">
  <nav aria-label="Navegación de secciones">
    <ul class="flex mx-auto pt-3 pb-8 justify-around md:justify-center">
      <li>
        <a href="/conciertos" class="p-3 inline-flex" data-astro-prefetch>
          <span class="hidden md:block font-tight uppercase text-sm tracking-wide">Conciertos</span>
          <img
            class="size-6 md:hidden"
            src={concertsIcon.src}
            alt="Conciertos"
          />
        </a>
      </li>
      <li>
        <a href="/discos" class="p-3 inline-flex" data-astro-prefetch>
          <span class="hidden md:block font-tight uppercase text-sm tracking-wide">Discos</span>
          <img
            class="size-6 md:hidden"
            src={albumsIcon.src}
            alt="Discos"
          />
        </a>
      </li>
      <li>
        <a href="/noticias" class="p-3 inline-flex" data-astro-prefetch>
          <span class="hidden md:block font-tight uppercase text-sm tracking-wide">Noticias</span>
          <img
            class="size-6 md:hidden"
            src={newsIcon.src}
            alt="Noticias"
          />
        </a>
      </li>
      <li>
        <a href="/entrevistas" class="p-3 inline-flex" data-astro-prefetch>
          <span class="hidden md:block font-tight uppercase text-sm tracking-wide">Entrevistas</span>
          <img
            class="size-6 md:hidden"
            src={interviewsIcon.src}
            alt="Entrevistas"
          />
        </a>
      </li>
      <li>
        <a href="/tv" class="p-3 inline-flex" data-astro-prefetch>
          <span class="hidden md:block font-tight uppercase text-sm tracking-wide">BiginnerTV</span>
          <img
            class="size-6 md:hidden"
            src={tvIcon.src}
            alt="BiginnerTV"
          />
        </a>
      </li>
    </ul>
  </nav>
</footer>
